/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/




body {
  background: rgb(51,186,187);
  background: linear-gradient(0deg, rgba(51,186,187,1) 0%, rgba(255,197,71,1) 100%) fixed;
}

body {

text-align: center;

}

.main-title {
  font-family: 'Quicksand';
  color: #ffffff
}

.question-title {
  font-family: 'Quicksand';
  color: #ffffff
}


.message-choice-box {
  height: 75px;
  width: 450px;
  background-color: #ffffff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 10px;
}

.receive-message-button {
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #000000;
  background-color: #33babb;
  padding: 5px 15px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

#type-of-message {
  font-family: sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #000000;
}

#mantra-choice {
  margin-left: 100px
}


.meditation-message-box {
  height: 125px;
  width: 650px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  margin: auto;
  margin-top: 2%
}

#meditation-bell-image {
  position: relative;
  margin: auto;
}

.meditation-pop-up-message {
  font-family: sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #000000;
}
